$fontColor: rgb(65 65 65);
$pointColor: #FE464B;

.tech-stacks {
    display: flex;
    margin-left: 5%;
    flex-wrap: wrap;

}
.tech-box {
    border: 2px solid $pointColor;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1rem;
    color: $fontColor;
    /* margin: 5px; */
    width: fit-content;
    flex-wrap: wrap;
    margin: 3px;
}

@media screen and (max-width: 650px) {
    h2 {
        font-size: 1.3rem;
    }
    .tech-box {
        font-size: 1rem;
    }

    li {
        font-size: 1rem;
    }

    .detail-image-big {
        display: none;
    }

    .detail-images {
        width: 100%;
    }

}