@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Ubuntu:wght@500;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
  font-size: 16px;
}

body {
  /* background-color: black; */
  font-family: 'Noto Sans', sans-serif;
}

/* .App {
    height: 100vh;
    display: flex;
} */
.main {
  font-family: ubuntu;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bolder;
}

.main-text {
  text-decoration: none;
  font-size: 9rem;
  color: rgb(35, 35, 35);
  margin: 1rem 10% 0;
}

.main-text:hover {
  /* color: #ffda54; */
  color: #FE464B;
  transition: 1s;
}

.main-menu-lists {
  display: flex;
  flex-direction: column;
}

.main-img {
  width: 40%;
    position: absolute;
    z-index: -1;
    right: 100px;
}

@media (max-width: 1024px) {
  /* .main-menu-lists {
    margin-top: 25%;
  } */
  .main-text {
    font-size: 6rem;
  }

  .main-img {
    width: 30%;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 500px) {
  .main-text {
    font-size: 4rem;
  }
}